
 
 <h2>Order a New Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>
  <button type="submit">Order</button>
</form>
